.imageLoaderMain{
	width: 40px;
	height: 40px;
	background: white;
	padding: 5px;
	border-radius: 50%;
	z-index: 1;
}
.imageLoader{
  stroke: black;
    stroke-width: 3;
    fill: transparent;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: spinLoader 3s linear infinite;
}
@keyframes spinLoader {
	0%{
	    stroke-dashoffset: 200;
  	}
  	100%{
	    stroke-dashoffset: -200;
  	}
}

.loaderComponentDiv{
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
 	background-color: rgba(63, 55, 74, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}
